/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background-color: rgba(251, 251, 251, 1);
  z-index: 10;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 60%;
}
.pace .pace-activity:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10%;
  color: #13F9B9;
  font-size: 1.5em;
  font-family: calluna, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, SimHei, sans-serif;
}
#loader-logo svg {
	position: fixed;
	top: 0;
}
