@charset "utf-8";
/* CSS Document */
section.secA {
	padding-top: 3%; color: #FFFFFF; background-color: #2D2D2D;
}
section.secA h2 {
	margin-bottom: 8px;
}
section.secA p {
	opacity: 0.8;
}
section.secA .underscore {
	max-width: 2em; margin-bottom: 8%; position: relative; left: 2px;
}
p {
	opacity: 0.95;
}

/* for "work-gallery" */
section#work-secA {
	margin: 0; padding: 10% 0 8px 0;
}
#work-secA figure {
	max-width: 35%; display:inline-block;
}
#work-secA h3 {
	margin-top: 3%;
}
section#work-secB {
	padding: 5px 0 8% 0;
}
#work-secB p {
	max-width: 47em; margin-bottom: 0;
}
#work-secB ul {
	margin: 0; margin-top: 20%; padding: 0; list-style: none; 
}
#work-secB ul li {
	margin: 0 1%; display: inline-block;
}
#work-secB .list-button {
	color: #2D2D2D;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#work-secB .list-button:hover {
	color: #FF59DF;
}
#work-secB .current-opt {
	color: #FF59DF;
}
.list-button .opt-button {
	width: 23px; height: 23px;
	display: inline-block;
	background-color: currentColor;
    border: 0 solid currentColor;
	transform: rotate(45deg) translate(2px, 2px);
	-webkit-transform: rotate(45deg) translate(2px, 2px);
    -moz-transform: rotate(45deg) translate(2px, 2px);
}
.list-button .next-button {
	display: inline-block;
	border: none;
    border-style: solid;
    border-width: 15px;
    border-top-width: 0;
	border-right-color: transparent;
    border-left-color: transparent;
	background: transparent;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.list-button .prev-button {
	display: inline-block;
	border: none;
    border-style: solid;
    border-width: 15px;
    border-top-width: 0;
	border-right-color: transparent;
    border-left-color: transparent;
	background: transparent;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
#show-de {
	text-decoration: underline; cursor: default;
}
p#show-de:hover + #jam-de {
	display: inline-block;
}
#jam-de {
	margin: 0; width: 25%; display: none; position: fixed; top: 20%; left: 50%;
}
p#de-60 {
	display: none;
}

/* for "about-me" */
section#abme-secA {
	padding-bottom: 2em;
}
#abme-secA figure {
	overflow: hidden;
}
#abme-secA img {
	max-width: 50%;
}
section#abme-secB {
	padding: 15px 0 8% 0;
}
#abme-secB p {
	margin: 1em 0;
}
#abme-secB a {
	color: #FF59DF;
}

/* for "contact" */
section#contact-secA {
}
section#contact-secB {
	padding: 5em 0 15em 0;
}
#contact-secB img {
	max-width: 30%;
}

/* for "photo-gallery" */
section#photo-secA {
	padding-bottom: 2em;
}
#photo-secA figure {
	max-width: 70%;
}
#photo-secA h2 {
}
section#photo-secB {
	padding: 3em 0 2em 0;
}
ul#photo-gallery {
	margin: 0; padding: 0; list-style: none; width: 100%; 
}
ul#photo-gallery li {
	margin: 1% 1% 1% 0; width: 10%; height: 6em; float: left; 
}
ul#photo-gallery li:nth-child(9n) {
	margin-right: 0;
}
ul#photo-gallery img {
	cursor: pointer;
}
#photo-secB .info-show {
	display: none;
}
@media only screen and (max-width:100em)
{
	
/* for "work-gallery" */
#work-secA figure {
	max-width: 50%;
}

/* for "about-me" */
#jam-de {
	width: 30%; left: 55%;
}

/* for "photo-gallery" */
#photo-secA figure {
	max-width: 80%;
}
ul#photo-gallery {
	width: 80%; 
}
ul#photo-gallery li {
	margin: 1% 1% 1% 0; width: 12%; 
}
ul#photo-gallery li:nth-child(7n) {
	margin-right: 0;
}
ul#photo-gallery li:nth-child(9n) {
	margin-right: 1%;
}
}
@media only screen and (max-width:60em)
{
section.secA {
	padding-top: 5%;
}
section.secA .underscore {
	position: relative; left: -1px; 
}

/* for "work-gallery" */
#work-secA h3 {
	margin-top: 5%;
}
#work-secA figure {
	max-width: 100%;
}
#work-secB p {
	margin-bottom: 1em;
}
#work-secB ul {
	text-align: center;
}
#work-secB ul li {
	margin: 0 2%;
}
p#de-60 {
	display: block; position: relative; left: 0.5em;
}
p#show-de {
	display: none;
}
#jam-de {
	margin: 0 auto; width: 75%; display: block; position: inherit; 
}

/* for "about-me" */
#abme-secA img {
	max-width: 80%;
}


/* for "photo-gallery" */
#photo-secA h2 {
}
#photo-secA figure {
	max-width: 100%;
}
ul#photo-gallery {
	width: 100%; 
}
ul#photo-gallery li {
	margin: 0 1% 0 0; width: 19%; 
}
ul#photo-gallery li:nth-child(5n) {
	margin-right: 0;
}
ul#photo-gallery li:nth-child(7n) {
	margin-right: 1%;
}
}
@media only screen and (max-width:30em)
{
section.secA {
	padding-top: 10%;
}

/* for "work-gallery" */
#work-secA h3 {
	margin-top: 8%;
}
#work-secA figure {
	max-width: 100%;
}
#work-secB ul {
	margin-bottom: 20%;
}
#work-secB ul li {
	margin-top: 5%; 
}
#work-secB ul li:last-child {
	display: block;
}

/* for "about-me" */
#abme-secA img {
	max-width: 100%;
}
#jam-de {
	width: 95%; 
}

/* for "contact" */
section#photo-secA {
}

/* for "photo-gallery" */
section#photo-secA {
}
#photo-secA h2 {
}
#display-box {
	display: block;
}
#photo-secA img {
	max-width: 100%;
}
section#photo-secB {
	padding: 15% 0 15% 0; 
}
section#photo-secB .container {
	overflow-x: scroll; overflow-y: visible; 
}
ul#photo-gallery {
	width: 1900px; height: 50px; overflow-y: visible;
}
ul#photo-gallery li {
	width: 80px; height: 60px; display: inline-block;
}
ul#photo-gallery li:nth-child(5n) {
	margin-right: 1%;
}
}